*{
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 1.6rem;
  margin: 16px ;
  display: flex;
  justify-content: center;
}

.main-text {
  font-size: 1rem;
  margin: 8px;
  display: flex;
  justify-content: center;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btnSFW, .btnNSFW, .catBtn{
  font-size: 1rem;
  margin: 0 8px;
  padding: 4px;
  
}

.btnSFW, .btnNSFW, .catBtn {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 1rem;
  line-height: 29px;
  margin: 8px 8px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.btnSFW:hover, .btnNSFW:hover, .catBtn:hover {
  background-color: #f7fafa;
}

.btnSFW:hover, .btnNSFW:focus, .catBtn:hover {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.img-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}

.waifuImg {
  padding: 16px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .title {
    font-size: 1rem;
  }
}